# Virtuelle Umgebung
venv/

# Umgebungsdateien
.env

# Jupyter Notebook Checkpoints (Ordner, die Jupyter automatisch erzeugt)
# Eine einzige Zeile reicht für ALLE Unterordner.
**/.ipynb_checkpoints/

# Python-Cache und -Bytecode
__pycache__/
*.py[cod]
*$py.class

# Systemdateien
.DS_Store

# IDE-spezifische Dateien
.vscode/

# Logs und Outputs
*.log
*.out