# Virtuelle Umgebung
.venv
venv/
venv.bak/

# Umgebungsdateien
.env
env/
ENV/
env.bak/

# Jupyter Notebook Checkpoints (Ordner, die Jupyter automatisch erzeugt)
**/.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python-Cache und -Bytecode
__pycache__/
*.py[cod]
*$py.class

# Systemdateien
.DS_Store
Thumbs.db

# IDE-spezifische Dateien
.vscode/

# Logs und Outputs
*.log
*.out